/*top header section for the 3 page website*/
header {
    background-color: rgba(214, 218, 214, 0.911);
    height: 90px;
    padding: 1px;
    border-bottom: 4px solid greenyellow;
    filter: contrast(120%);
}
header h1 {
    text-align: center;
    color: black;
}
header h1 span {
    font-size: larger;
    color: green;
}
/* nav section for the 3 page website*/
nav button a {
    text-decoration: none;
    color: black;
}
nav {
    text-align: center;
    height: 50px;
    background-color: #808080;
    border-radius: 50px 50px 0 0;
    filter: contrast(150%);
}
/*the yellow green background color for the nav section*/
section#topstyle {
    background-color: greenyellow;
    filter: contrast(150%)
}
/*nav button*/
nav button {
    outline: none;
    border-style: inset;
    height: 30px;
    width: 100px;
    line-height: 15px;
    margin: 9px 100px 0 100px;
    cursor: pointer;
    border-width: 5px;
}
button.wego {
    border-color: #808080;
}
nav button:hover {
    background-color: white;
}
nav button a:active {
    color: green;
}
nav button:active {
    border-color: white;
}
/* the paragraph text on top picture*/
section#pic div#overlay p {
    text-align: center;
    margin-left: 230px;
    margin-right: 200px;
    color: #696969;
    filter: contrast(400%);
}
/* this contains the text effect on the top picture*/
section#pic div#overlay p:first-child {
    font-weight: 100px;
    font-size: 60px;
    margin-top: 200px;
}
section#pic div#overlay p:nth-child(2) {
    font-size: 30px;
    margin-top: 100px;
}
section#pic div#overlay p:nth-child(3) {
    float: left;
    font-size: 19PX;
    margin-left: 5px;
    
}
/* top picture*/
section#pic {
    background-image: url("coach.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    flex-wrap: nowrap;
}
/* This area makes the transparent effect fo the top picture*/
section#pic div#overlay {
    background-color: rgba(255, 255, 255, 0.4);
    background-size: cover;
    height: 700px;
    display: inline-block
}
/* the text box of the main content*/
article.first-art {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
article.first-art div {
    flex: 1 1 80px;
    text-align: center;
    margin: 100px;
    padding: 50px;
    font-size: 22px;
    border-radius: 70px;
    background-color: rgba(80, 80, 80, 0.7);
}
article.first-art div h3, article#last-art div h3 {
    text-align: center;
}
/* the last text box of the main content*/
article#last-art {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
article#last-art div {
    text-align: center;
    margin: 100px;
    padding: 50px;
    border-radius: 70px;
    font-size: 22px;
    background-color: rgba(80, 80, 80, 0.7);
    flex-basis: main-size;
    width: 330px;
    height: 400px;
}
/* footer effect*/
footer#foot {
    background-color: #808080;
    filter: contrast(150%);
    height: 100px;
    border-radius: 3px;
    border: none;
    margin-bottom: 0;
    display: block;
}
footer#foot section#contact {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    height: 80px;
    justify-content: center;
}
footer#foot section#contact div {
    margin: 30px 30px 0 30px;
}
footer#foot section#contact div h4 {
    color: #696969;
    font-size: 18px;
    filter: contrast(400%);
}
/* this generate effect for small mobile/android phones*/
@media (max-width: 600px) {
    article.first-art {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (max-width: 600px) {
    section#first-sec {
        background-image: url("botomrigh.png"), url("toplef.png"), 
        url("circle.png"), url("circle.png"), url("circle.png");
        background-repeat: no-repeat;
        background-position: bottom right, top left, center, 900px 400px, 55px 1200px;
    }
}
@media (max-width: 600px) {
    section#serbac article#last {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
/* this are backgroung  created graphic images*/
section#first-sec {
    background-image: url("botomrigh.png"), url("toplef.png"), 
    url("circle.png"), url("circle.png"), url("circle.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left, center, 900px 200px, 55px 1700px;
}
section#about-bac {
    background-image: url("circle.png"), url("toplef.png");
    background-repeat: no-repeat;
    background-position: center, 0 0;
}
/* this effect the paragraph text on about page*/
section#about-bac div {
    flex: 0 1 auto;
    padding: 50px;
    border-radius: 3px;
    margin: 200px;
    margin-bottom: 300px;
    margin-top: 100px;
    background-color: rgba(80, 80, 80, 0.9);
}
/* about page flex box container*/ 
section#about-bac article {
    display: flex;
    flex-direction: row;
}
section#about-bac div h2 {
    font-family: monospace;
    color: white;
}
section#about-bac div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: whitesmoke;
}
/* backgroung for about page*/
section#serbac {
    background-image: url("circle.png"), url("circle.png");
    background-position: 1000px 200px, 0 800px;
    background-repeat: no-repeat;
}
/* services  first paragraph text*/
section#serbac article#last div {
    text-align: center;
    margin-top: 80px;
    padding: 25px;
    border-radius: 5px;
    font-size: 17px;
    flex: 2 1 main-size;
    width: 1000px;
    filter: contrast(120%);
    height: 150px;
    background-color: rgba(80, 80, 80, 0.9);
}
section#serbac article#last {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section#serbac article#last div p {
    padding-top: 10px;
    font-weight: bolder;
    color: #696969;
    filter: contrast(400%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
/* flex box effect of two beautiful box on the services page*/
section#heal-envi article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 600px;
    margin-bottom: 50px;
}
section#heal-envi article div {
    flex: 0 1 main-size;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 80px;
    width: 300px;
    background-color: rgba(80, 80, 80, 0.9);
    filter: contrast(120%);
}
section#heal-envi article div img {
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}
section#heal-envi article div p {
    display: inline;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}
section#heal-envi article div h2 {
    color: #696969;
    filter: contrast(400%);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
/* effect for small android phones for of two beautiful box on the services page*/
@media (max-width: 600px) {
    section#heal-envi article {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: 700px;
    }
}
/* flex box container effect for the form section*/
section#at-last {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(80, 80, 80, 0.9);
    filter: contrast(120%);
    height: 60px;
    margin-bottom: 20px;
}
section#at-last div {
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
}
section#at-last div h5 {
    display: inline;
    font-size: 16px;
    font-family: sans-serif;
}
section#at-last div form {
    display: inline;
    padding-right: 15px;
}
section#at-last div form input#sub {
    border: none;
    outline: none;
    cursor: pointer;
    height: 25px;
    background-color: yellowgreen;
    filter: contrast(120%);
}
section#at-last div form input#em {
    width: 199px;
    height: 22px;
    border: none;
    outline: none;
}
section#at-last div form input#em::placeholder {
    color: black;
    padding-left: 5px;
    text-align: center;
}
section#at-last div form input#sub:hover {
    filter: contrast(150%);
}

